html {
  background-image: url("./court.jpg");
  background-repeat: no-repeat;
}

.App {
  text-align: center;
}

.player-name {
  overflow: hidden;
  margin-top: 40px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.score-P1 {
  float: left;
  margin-left: 300px;
  font-size: 30px;
}

.score-P2 {
  float: right;
  margin-right: 300px;
  font-size: 30px;
}

input[type="radio"] {
  margin: 0 10px 0 10px;
}

.set-score-header {
  margin-top: 90px;
}

.set-score {
  height: 80px;
  width: 50px;
  font-size: 40px;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.game-score {
  font-size: 40px;
}

.tiebreak-score {
  height: 70px;
  width: 60px;
  border-radius: 10px;
  font-size: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.tiebreak {
  display: inline;
}
#set-1-label {
  margin-right: 50px;
}

#set-2-label {
  margin-right: 50px;
}

#set-3-label {
  margin-right: 50px;
}

#tiebreak-score-label {
  margin-left: 50px;
  margin-right: 50px;
}

#hyphen {
  display: inline;
}
